<!DOCTYPE html>
<html ng-app="ipartcontacts">
	<head>
		<!-- Angulars Material CSS now available via Google CDN; version 0.6 used here -->
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <link rel="SHORTCUT ICON" href="icons/Icon.ico" >
	    <link rel="shortcut icon" sizes="128x128" href="icons/Icon-128.png">
	    <link rel="shortcut icon" sizes="196x196" href="icons/Icon-196.png">
	    <link rel="apple-touch-icon" href="icons/Icon-64.png">
	    <link rel="apple-touch-icon" sizes="76x76" href="icons/Icon-76.png">
	    <link rel="apple-touch-icon" sizes="120x120" href="icons/Icon-120.png">
	    <link rel="apple-touch-icon" sizes="152x152" href="icons/Icon-152.png">

    	<title>Photo Booth Finder</title>

		<link rel="stylesheet" href="components/angular-material/angular-material.min.css">
		<!-- Angular Material Dependencies -->
		<script src="components/hammerjs/hammer.min.js"></script>
		<script src="components/angular/angular.min.js"></script>
		<script src="components/angular-animate/angular-animate.min.js"></script>
		<script src="components/angular-aria/angular-aria.min.js"></script>

		<!-- Angular Material Javascript now available via Google CDN; version 0.6 used here -->
		<script src="components/angular-material/angular-material.min.js"></script>
		<script src="javascripts/selfiestatiionJsonData.js"></script>
		<script src="javascripts/selfiestatiion.js"></script>

		<style>
			.listdemoBasicUsage .face {
			  border-radius: 30px;
			  border: 1px solid #ddd;
			  width: 48px;
			  margin: 16px; }
		</style>

	</head>
	<body>

		<!--
		<div class="footer" style="position:fixed; bottom: 0;left: 50%;width: 100%;">
        	<p class='label label-success'>&copy; Studio Bing-Huan 2014</p>
      	</div>
		-->

		<div ng-controller="AppCtrl" class='listdemoBasicUsage' layout="column" layout-fill>

			<md-toolbar md-scroll-shrink>
				<div class="md-toolbar-tools">
			      <h3>
			        <span class="ng-binding">Photo Booth Finder</span>&nbsp;&nbsp;<span style='font-size:10px'>Powered by BH_Lin</span>
			      </h3>
			    </div>
			</md-toolbar>
			<md-content>
				<md-text-float label="Search" ng-model="searchText" style='padding-left: 20px'> </md-text-float>
				<section layout="vertical" layout-sm="horizontal" layout-align="center center">
					<md-progress-circular md-mode="indeterminate" ng-show="isLoading" ng-init="isLoading = true"></md-progress-circular>
        		</section>

				<md-list>
					    <md-item ng-repeat="place in kireiplaces|filter: searchText| orderBy:'distance'">
					    	<md-item-content>
					          	<div class="md-tile-content">
									<div layout="row">
										<div flex="70">
										    <h3>{{place.location}}</h3>
							            	<h4>{{place.opentime}}</h4>
							            	<p>
							            		<a href='http://maps.google.com.tw/?q={{place.address}}' target='_blank'>{{place.address}}</a><br>
							            	</p>
									  	</div>
									  	<div flex="30">
										  	<div layout="vertical" layout-align="end center">
												<md-button disabled="true" class="md-raised" md-theme="green">
        											{{place.distance}}<br>公尺
      											</md-button>
										  	</div>
										</div>
									</div>
					          	</div>
					        </md-item-content>
							<md-divider ng-if="!$last"></md-divider>
						</md-item>
		    		</md-list>
		  		</md-content>
		  	</div>
		</div>
	</body>
</html>
